.mainBtn{
    width: 80%;
    max-width: 700px;
    min-width: 400px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0;
    background: none;
    font-size: 14pt;
}

.mainBtn:hover{
    cursor: pointer;
    color: white;
    background-color: #005082;
    font-size: 14pt;
}