.mainBtn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0;
    background: none;
    margin: 10px 0 ;
    font-size: 14pt;
}

.mainBtn:hover{
    cursor: pointer;
    color: #005082;
    font-size: 14pt;
}