.menuHeader {
    margin: 20px auto;
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #005082 , #00a8cc);
    display: flex;
    justify-content: space-between;
}

.menuHeader img{
    width: 100px;
}

.menuHeader h1{
    color: white;
    align-self: flex-end;
    font-style:italic;
    
}
.buttonWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
}