.container{
    background-color: #4CAF50;
    width: 40vh;
    height: 60vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } 
  input[type=submit], input[type=button]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }

/* Set a style for all buttons */
/* button {
    background-color: white;
    /* color: ; */
    /* padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  } */
  
  /* Add a hover effect for buttons */
  /* button:hover {
    opacity: 0.8;
  }  */ 